#projects_section
{
	background-color: var(--dark_purple);
}

.projects_end
{
	background-color: var(--dark_purple);
}

#projects_section .section_title
{
	color: var(--white);
	margin-bottom: 60px;
}

#projects_section .project.in_animation
{
	opacity: 0;
	-webkit-transform: translateY(70px);
	-ms-transform: translateY(70px);
	transform: translateY(70px);
	-webkit-transition: opacity 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
	transition: opacity 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
	-o-transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
	transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
	transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

#projects_section .sort_choices
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 70px;
	gap: 20px;
}

#projects_section .sort_choices .label
{
	color: var(--white);
	font-family: raleway_semi_bold;
	font-size: 17px;
}

#projects_section .sort_choices .choice
{
	color: var(--light_blue);
	font-family: raleway_semi_bold;
	font-size: 15px;
	cursor: pointer;
	border-radius: 100px;
	padding: 9px 18px 9px 18px;
	border: 2px solid var(--light_blue);
	-webkit-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}

#projects_section .sort_choices .choice:hover
{
	background-color: var(--fade_light_blue);
}

#projects_section .sort_choices .choice.selected
{
	color: var(--dark_purple);
	background-color: var(--light_blue);
	cursor: default;
	pointer-events: none;
}

#projects_section .sort_choices .choice.selected:hover
{
	background-color: var(--light_blue);
}

#projects_section .projects_content
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	gap: clamp(20px, 7vw, 100px);
	margin-bottom: clamp(60px, 8vw, 100px);
}

@media screen and (max-width: 1125px)
{
	#projects_section .projects_content
	{
		gap: clamp(20px, 5vw, 100px);
	}
}

@media screen and (max-width: 780px)
{
	#projects_section .projects_content
	{
		gap: 35px;
	}
}

#projects_section .project
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 0px;
	padding-right: clamp(0px, calc(18vw - 234px), 60px);
}

#projects_section .project.inverted
{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	padding-left: clamp(0px, calc(18vw - 234px), 60px);
	padding-right: 0px;
}

#projects_section .project_view
{
	z-index: 5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#projects_section .project_view a
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: calc(clamp(400px, 40vw, 600px) * 1.05);
	overflow: hidden;
	-webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
	border-radius: 15px;
	-webkit-transition: -webkit-filter 0.3s ease;
	transition: -webkit-filter 0.3s ease;
	-o-transition: filter 0.3s ease;
	transition: filter 0.3s ease;
	transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

#projects_section .project_view a:hover
{
	-webkit-filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.7));
	filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.7));
}

#projects_section .project_view video
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#projects_section .project_view img
{
	width: 100%;
	height: 100%;
}

#projects_section .project_text
{
	z-index: 10;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-right: -100px;
}

#projects_section .inverted .project_text
{
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin-left: -100px;
	margin-right: 0px;
}

#projects_section .project_text .type
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 7px;
	font-family: raleway_medium;
	font-size: 16px;
	white-space: nowrap;
	color: var(--light_blue);
	margin-left: 15px;
	margin-bottom: 10px;
}

#projects_section .inverted .project_text .type
{
	margin-left: 0px;
	margin-right: 15px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

#projects_section .project_text .project_title
{
	font-family: calibre_semi_bold;
	font-size: 32px;
	color: var(--white);
	text-decoration: none;
	margin-bottom: 12px;
	margin-left: 15px;
	-webkit-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

#projects_section .inverted .project_text .project_title
{
	margin-left: 0px;
	margin-right: 15px;
}

#projects_section .project_text .project_title:hover
{
	color: var(--light_blue);
}

#projects_section .project_text .text
{
	background-color: var(--purple);
	-webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));
	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));
	border-radius: 15px;
	padding: 25px 25px 25px 25px;
	margin-bottom: 19px;
	-webkit-transition: -webkit-filter 0.3s ease;
	transition: -webkit-filter 0.3s ease;
	-o-transition: filter 0.3s ease;
	transition: filter 0.3s ease;
	transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

#projects_section .project_text .text:hover
{
	-webkit-filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.6));
	filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.6));
}

#projects_section .project_text .text p
{
	font-family: calibre_regular;
	font-size: 20px;
	text-align: start;
	color: var(--fade_white);
}

#projects_section .inverted .project_text .text p
{
	text-align: end;
}

#projects_section .project_text .tags
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 17px;
	margin-left: 9px;
	gap: 8px;
}

#projects_section .inverted .project_text .tags
{
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	margin-left: 0px;
	margin-right: 9px;
}

#projects_section .project_text .tags a
{
	font-family: raleway_semi_bold;
	font-size: 16px;
	color: var(--light_blue);
	text-decoration: none;
	opacity: 1;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

#projects_section .project_text .tags a:hover
{
	opacity: 0.5;
}

#projects_section .project_text .links
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	gap: 20px;
}

#projects_section .inverted .project_text .links
{
	margin-left: 0px;
	margin-right: 15px;
}

#projects_section .project_text .links .github
{
	--color: rgb(181, 184, 192);
}

#projects_section .project_text .links .test
{
	--color: rgb(41, 168, 99);
}

#projects_section .project_text .links svg
{
	width: 21px;
	fill: none;
	stroke-width: 1.9px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: var(--color);
	opacity: 1;
	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

#projects_section .project_text .links svg:hover
{
	opacity: 0.6;
}

#projects_section .project_text .links a
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#projects_section .project_text .links .bubble
{
	pointer-events: none;
	position: absolute;
	text-align: center;
	bottom: -45px;
	color: var(--dark_purple);
	padding: 6px 12px 6px 12px;
	background-color: var(--color);
	font-family: raleway_bold;
	white-space: nowrap;
	font-size: 15px;
	border-radius: 20px;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

#projects_section .project_text .links .bubble::after
{
	pointer-events: none;
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -7px;
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent var(--color) transparent;
}

#projects_section .project_text .links a:hover .bubble
{
	opacity: 0.8;
}

.lds-ring
{
	display: inline-block;
	position: absolute;
	width: 120px;
	height: 120px;
}

.lds-ring div
{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 96px;
	height: 96px;
	margin: 12px;
	border: 12px solid #fff;
	border-radius: 50%;
	-webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1)
{
	-webkit-animation-delay: -0.45s;
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2)
{
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3)
{
	-webkit-animation-delay: -0.15s;
	animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring
{
	0%
	{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100%
	{
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes lds-ring
{
	0%
	{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100%
	{
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 780px)
{
	#projects_section .project
	{
		background-size: cover;
		background-position: center;
		border-radius: 15px;
		-webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
		filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
		-webkit-transition: -webkit-filter 0.3s ease;
		transition: -webkit-filter 0.3s ease;
		-o-transition: filter 0.3s ease;
		transition: filter 0.3s ease;
		transition: filter 0.3s ease, -webkit-filter 0.3s ease;
	}

	#projects_section .project:hover
	{
		-webkit-filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.7));
		filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.7));
	}

	#projects_section .project_text
	{
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		margin-left: 0px;
		margin-right: 0px;
		padding: 60px 40px 60px 40px;
		background-color: rgba(52, 52, 102, 0.75);
		border-radius: 15px;
	}

	@media screen and (max-width: 500px)
	{
		#projects_section .project_text
		{
			padding: 50px 25px 50px 25px;
		}
	}

	#projects_section .project_text .type
	{
		margin-left: 0px;
	}

	#projects_section .project_text .project_title
	{
		margin-left: 0px;
	}

	#projects_section .project_text .text
	{
		background: none;
		-webkit-filter: none;
		filter: none;
		border-radius: 0px;
		padding: 10px 0px 8px 0px;
	}

	#projects_section .project_text .text:hover
	{
		-webkit-filter: none;
		filter: none;
	}

	#projects_section .project_text .text p
	{
		color: var(--white);
	}

	#projects_section .project_text .tags
	{
		margin-left: -6px;
	}

	#projects_section .project_text .links
	{
		margin-left: 0px;
	}

	#projects_section .project_text .links .bubble
	{
		bottom: 15px;
	}
}
