#my_title
{
	position: fixed;
	width: 80%;
	height: 20%;
	transform: translate(-50%, 0%);
	pointer-events: none;
	z-index: 10;
}

#angel
{
	position: absolute;
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	left: -3.5%;
	pointer-events: all;
}

#uriot
{
	position: absolute;
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	left: 53%;
	pointer-events: all;
}

#projects
{
	position: absolute;
	width: 50%;
	height: 0;
	padding-bottom: 50%;
	left: 50%;
	pointer-events: all;
}

.letter
{
	position: absolute;
	width: 18%;
	height: 0;
	padding-bottom: 18%;
	pointer-events: none;
}

.big_letter
{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -100%);
}

.small_letter
{
	position: absolute;
	height: 58%;
	width: 58%;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -100%);
}

.low_letter
{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 50%;
	top: 142%;
	transform: translate(-50%, -100%);
}

.point_letter
{
	position: absolute;
	height: 68.79%;
	width: 68.79%;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -100%);
}

.low_point_letter
{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 50%;
	top: 131.75%;
	transform: translate(-50%, -100%);
}

.letter_svg
{
	pointer-events: none;
}

.letter_path
{
	pointer-events: none;
}
